# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local Python environment files
venv/
.venv/
env/
.env/
pyenv/

# Ignore data files and logs
data/
logs/
*.log

# Ignore project-specific settings
settings.ini
config.py

# Ignore system files
.DS_Store
Thumbs.db
*.csv